div {
	box-sizing: border-box;
}

a {
	color: #ECCCB6;
}

/*deck modal*/
.deck__deck-item .deck-item__inline {
	display: block
}

.deck__deck-item .deck-item__editor {
	display: block;
}

.deck__deck-item:hover .deck-item__editor {
	display: block;
	max-height: 999em;
	padding: 0.5em;
	opacity: 1;
	z-index: 2;
}

.deck__deck-item {
	position: relative;
	max-width: 20em;
}


.deck-item__editor {
	position: absolute;
	top: -1.5em;
	left: 5em;
	width: 90%;
	height: auto;
	max-height: 0;
	padding: 0;
	background: #fff;
	border: 1px solid #999;
	border-radius: 1em;
	box-shadow: 0 0 0.5em #999;
	opacity: 0;
	transition: all 0.2s;
}

.deck-item__editor:before {
	display: block;
	position: absolute;
	top: 1.2em;
	left: -2em;
	content: "";
	border: 1em solid transparent;
	border-right: 1em solid #555;
}

.item-list-summary {
	border-top: 1px solid #aaa;
}

/* navigation bar */
.bar {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0 1em;
	background: #333;
	box-shadow: 0 0 1em #000;
	z-index: 1;
}

.bar__logo {
	display: inline-block;
	width: auto;
	height: 3em;
	margin: 0.6em 1em 0 0;
	padding: 0;
	vertical-align: middle;
	transition: all 0.2s;
}
.bar__logo:hover,
.bar__logo:focus {
	text-decoration: none;
	border: none;
	transform: scale(1.1);
}
.logo__img {
	height: 100%;
}

.bar__input {
	margin-top: 1em !important;
}

.bar__link {
	margin: 1em 0.2em !important;
	/*border: 1px solid #aaa !important;*/
	border-radius: 1em;
	color: #aaa;
	background: #333 !important;
}

.bar__link:hover,
.bar__link:focus {
	color: #ECCCB6;
}

.bar__button {
	height: 3em;
	width: 3em;
	background: transparent;
	border-radius: 1.5em;
	transition: all 0.2s;
}
.bar__button img {
	height: 100%;
}

.bar__button:hover {
	box-shadow: 0 0 0.5em #eee;
	transform: scale(1.1);
}

.user-actions {
	position: absolute;
	top: 0.25em;
	right: 1em;
}

.user-actions__ua-list {
	list-style-type: none;
	max-height: 1.5em;
	padding: 0.5em 0.5em 1em;
	background: #333;
	overflow: hidden;
	transition: all 0.5s;
}


.user-actions__ua-list li {
	margin: 0;
}

.user-actions__ua-list:hover {
	max-height: 30em;
}

.ua-list__item {
	display: inline-block;
	width: 90%;
	height: 1.5em;
	padding: 0.5em;
}

.ua-list__item:hover {
	background: rgba(255, 255, 255, 0.1);
	border: none;
}

.actions,
.main-actions,
.select-actions {
	position: relative;
	border-left: 1px solid #222;
	padding-left: 1em;
	margin-left: 1em;
}

/* footer */
footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2em;
	margin: 0;
	padding: 1em 0;
}

/* table and main table */
.table-main {
	width: 100vw;
	height: 100vh;
	background: url('/res/images/table.jpg') no-repeat center;
	overflow: hidden;
}

.table {
	position: relative;
    height: 80vh;
    width: 90vw;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 2em auto 0;
    border-radius: 1em;
    transform-origin: 50% 50%;
}

.modal {
	background-color: rgba(0, 0, 0, 0.5);
}

.modal__modal-window {
	border-radius: 1em;
}

.modal a {
	color: #369;
}

#welcome .modal__modal-window {
	overflow: visible;
}

#welcome .modal-window__header {
	position: absolute;
	top: -5em;
}

#welcome .modal-window__body {
	margin-top: 1em;
}

#welcome label {
	min-width: auto;
}


/* cards */
.card {
	position: absolute;
	top: 45%;
	left: 45%;
	width: 5.715em;
	height: 8.89em;
	padding: 1em;
	font-size: 0.8em;
	line-height: 1em;
	text-align: center;
	transform-origin: 50% 50%;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;

	perspective: 1000;
	transition: transform 0.2s, box-shadow 0.2s;
	z-index: 1;
}

.card__front, .card__back {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 1em;
	background-image: url('/res/images/card.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 0.5em;
	box-shadow: 0 0 0.1em #111;
	transform-style: preserve-3d;
	backface-visibility: hidden;

	transition: all 0.5s;
}

.card__back {
	background-image: url('/res/images/card-back.jpg');
	transform: rotateY(180deg);
}

.token {
	position: absolute;
	top: 25vh;
	left: 45vw;
	width: 4em;
	height: 4em;
	padding: 1em;
	font-size: 0.8em;
	line-height: 1em;
	text-align: center;
	transform-origin: 50% 50%;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;

	perspective: 1000;
	transition: transform 0.2s, box-shadow 0.2s;
	z-index: 1;
}

.token__front,
.token__back {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 1em;
	line-height: 2em;
	color: #eee;
	text-shadow: -1px -1px 0px #111;
	background-image: url('/res/images/token.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 2em;
	box-shadow: 0 0 0.1em #111;
	transform-style: preserve-3d;
	backface-visibility: hidden;

	transition: all 0.5s;
}

.token__back {
	background-image: url('/res/images/token-back.jpg');
	transform: rotateY(180deg);
}

.card.flipped .card__front,
.token.flipped .token__front {
	transform: rotateY(180deg);
}

.card.flipped .card__back,
.token.flipped .token__back {
	transform: rotateY(0deg);
}

.card__name {
	font-weight: bold;
	border-bottom: 1px solid #333;
	padding-bottom: 1em;
}

.card__text {
	margin-top: 1em;
}

.card:hover,
.token:hover {
	transform: scale(1.1);
	z-index: 3;
}

.card:hover .card__front,
.card:hover .card__back,
.token:hover .token__front,
.token:hover .token__back,
.dice:hover {
	box-shadow: 0 0 1.5em #111;
}

.dice {
	position: absolute;
	top: 20vh;
	left: 20vw;
	width: 2em;
	height: 2em;
	background: #eee;
	border-radius: .25em;
	box-shadow: 0 0 1em #111;
	overflow: hidden;
	text-align: center;
	font-size: 2em;
	padding: 0.65em 0.5em 0em;
	font-weight: bold;
	color: #999;
	text-shadow: -1px -1px 0 #666;
}

.dice:after {
	display: block;
	position: absolute;
	bottom: -3em;
	right: -3.2em;
	width: 5em;
	height: 5em;
	border-radius: 2.5em;
	background: rgba(0, 0, 0, 0.1);
	content: "";
}

.item__top {
	z-index: 2;
}

.item__selected {
	box-shadow: 0 0 0em 0.75em rgba(0, 220, 0, 0.25);
	background-color: rgba(0, 220, 0, 0.25);
	border-radius: 0.5em;
	transition: top 0.5s, left 0.5s, transform 0.5s;
}

.token.item__selected {
	border-radius: 2em;
	box-shadow: 0 0 0em 0.75em rgba(220, 110, 0, 0.25);
	background-color: rgba(220, 110, 0, 0.25);
}

.border {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 1px solid #5a5;
	background-color: rgba(100, 255, 100, 0.2);
	cursor: crosshair;
	z-index: 4;
}