.navigation {
	height: 3em;
	width: 96%;
	padding: 0 2%;
	line-height: 3em;
	box-shadow: 0 1em 1em rgba(0,0,0,0.5);
}

.table {
	position: relative;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	padding: 1%;
	box-sizing: border-box;
	background: url('/res/table.jpg') center no-repeat;
}

.card {
	position: relative;
	display: inline-block;
	width: 20vh;
	height: 30vh;
	perspective: 500px;
	transition: all 1s;
}

.card .side {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: .5em;
	box-shadow: 0 0 0.2em rgba(0,0,0,0.5);
	backface-visibility: hidden;
	transition: all 0.5s;
	transform-style: preserve-3d;
}

.side.back {
	background-color: rgba(100, 100, 100, 0.5);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	transform: rotateY(180deg);
	background-image: url('/res/game_4/card_1.jpg');
}

.side.front {
	overflow: hidden;
	padding: .5em;
	background-color: #fff;
}

.card .side:hover {
	transform: scale(1.1);
	box-shadow: 0 1em 3em rgba(0,0,0, 0.5);
}

.card.flipped .back {
	transform: rotateY(360deg);
}
.card.flipped .front {
	transform: rotateY(180deg);
}

.card.rl {
	transform: rotate(-90deg);
}
.card.rb {
	transform: rotate(180deg);
}
.card.rr {
	transform: rotate(90deg);
}

.card .name {
	text-align: center;
}

.card .image {

}

.card .desc {
	margin-top: 3em;
	text-align: left;
}