body {
	font-family: serif;
	box-shadow: inset 0 1em 6em #aaa;
	background: url('/res/img/back.jpg');
}

nav {
	margin-top: 4em;
	font-family: serif;
	text-align: center;
	background: transparent;
	box-shadow: none;
}
nav ul {
	display: inline-block;
}
nav li {
	display: block;
	float: left;
}
nav li a {
	display: inline-block;
	width: 8em;
	font-size: 1.2em;
	color: #555;
	border-bottom: 1px solid #777;
	white-space: nowrap;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
nav .fa {
	display: none;
}
nav #menu_show, nav #menu_hide {
	display: none;
}
nav li a.active {
	font-weight: bold;
}
nav li a:focus {
	color: #3f8fc9;
	border-bottom-color: #3f8fc9;
}
nav li a:active {
	color: #4f9fd9;
	border-bottom-color: #4f9fd9;
}
nav li a:hover {
	color: #0C5C96;
	border-bottom-color: #0C5C96;
}
nav #brand {
	position: relative;
	top: -2em;
}
nav #brand a {
	position: relative;
	width: 5em;
	height: 5em;
	margin: 0;
	padding: 0;
	background: url('/res/img/logo.png') no-repeat;
	background-size: cover;
	border: none;
}
nav #brand:hover{
	-webkit-animation: logo_spin 1.5s;
	-moz-animation: logo_spin 1.5s;
	-ms-animation: logo_spin 1.5s;
	-o-animation: logo_spin 1.5s;
	animation: logo_spin 1.5s;
}

@-webkit-keyframes logo_spin {
	0% {-webkit-transform: rotate(0deg);}
	30% {-webkit-transform: rotate(390deg);}
	60% {-webkit-transform: rotate(340deg);}
	90% {-webkit-transform: rotate(365deg);}
	100% {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes logo_spin {
	0% {-moz-transform: rotate(0deg);}
	33% {-moz-transform: rotate(390deg);}
	60% {-moz-transform: rotate(340deg);}
	80% {-moz-transform: rotate(365deg);}
	100% {-moz-transform: rotate(360deg);}
}
@-ms-keyframes logo_spin {
	0% {-ms-transform: rotate(0deg);}
	33% {-ms-transform: rotate(390deg);}
	60% {-ms-transform: rotate(340deg);}
	80% {-ms-transform: rotate(365deg);}
	100% {-ms-transform: rotate(360deg);}
}
@-o-keyframes logo_spin {
	0% {-o-transform: rotate(0deg);}
	33% {-o-transform: rotate(390deg);}
	60% {-o-transform: rotate(340deg);}
	80% {-o-transform: rotate(365deg);}
	100% {-o-transform: rotate(360deg);}
}
@keyframes logo_spin {
	0% {transform: rotate(0deg);}
	33% {transform: rotate(390deg);}
	60% {transform: rotate(340deg);}
	80% {transform: rotate(365deg);}
	100% {transform: rotate(360deg);}
}

h1, h2, h3, h4, h5, h6 {
	/*font-weight: bold;*/
	font-family: 'Lora', serif;
	font-family: 'Crete Round', serif;
	color: #111;
}

h1, h2 {
	text-align: center;
}

h1 a, h2 a, h3 a, h4 a {
	color: #333;
}

/*
	konkretna kategoria
*/
.list_main_article_image {
	position: relative;
	display: block;
	overflow: hidden;
	height: 225px;
	border: 5px solid #fff;
	box-shadow: 0 5px 7px #aaa;
	background: #fff;
}
.list_main_article_image:focus {
	border: 5px solid #fff;
	box-shadow: 0 0 1em #3f8fc9;
}.list_main_article_image:hover {
	border: 5px solid #fff;
	text-decoration: none;
}


.list_main_article_image img {
	width: 100%;
}

.list_main_article_image > * {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.list_main_article_image:hover > * {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

.list_main_article {}
.list_main_title_image {float: right;}

.list_main_article h2 {
	font-size: 2em;
}
.list_main_article .list_article_date, #to_the_top {
	float: left;
	font-size: 1.2em;
	width: 4em;
	height: 3.25em;
	background: #0C5C96;
	color: #eee;
	text-align: center;
	border-radius: 2em;
	padding: 0.75em 0 0 0;
	text-shadow: -1px -1px 0 #333;
}

#to_the_top {
	height: 2.65em;
	padding-top: 1.35em;
	float: right;
	position: relative;
	bottom: 0;
	-webkit-transition: all 0.2s;
}
#to_the_top:hover {
	border: none;
	text-decoration: none;
	opacity: 0.8;
}
#to_the_top:before, #to_the_top:after {
	position: absolute;
	top: 3.7em;
	height: 1em;
	width: 1em;
	display: block;
	content: "";
	background: #0C5C96;
	border-radius: 1em;
}

#to_the_top:after {
	top: 4.5em;
	left: -1em;
	height: 0.5em;
	width: 0.5em;
}

.list_article_perex {
	text-indent: 0;
}

.list_main_article .list_article_perex {
	float: left;
	font-size: 1.7em;
	width: 85%;
	margin-left: 1em;
	line-height: 1.5em;
}

.list_main_article .list_article_tags {
	display: inline-block;
	margin-top: 2em;
}


.list_article_tags {
	text-align: right;
	line-height: 2.5em;
	text-indent: 0;
}

.no_image_front_glass {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: inset 0 0 0.5em 1.5em #fff;
	z-index: 1;
}

.no_image_text_alternative {
	display: block;
	position: relative;
	line-height: 1.2em;
	font-size: 2em;
	background:	#fff;
	color: #777;
	text-align: justify;
}

.nice_hr {
	position: relative;
	width: auto;
	height: 30px;
	margin: 2em auto;
	border: none;
	background: url('/res/img/page_break.png') no-repeat center;
	background-size: contain;
}

.flipped {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.list_submain_articles {
	position: relative;
}

.list_submain_articles .list_article_date {
	position: relative;
	right: -1em;
	bottom: 6em;
	float: right;
	width: 4em;
	text-align: center;
	background: #0C5C96;
	color: #eee;
	height: 3.3em;
	padding-top: 0.70em;
	border-radius: 2em;
	z-index: 1;
}

.list_other_article {
	position: relative;
}
.list_other_article .list_article_date {
	position: absolute;
	top: 0;
	font-family: 'Crete Round', serif;
	font-size: 1.6em;
	right: 0.5em;
	color: #999;
}

.tag {
	padding: 0.5em 1em;
	color: #eee;
	background: #bbb;
	border-radius: 1em;
	white-space: nowrap;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.tag:focus {
	border: none;
	background: #3f8fc9;
}
.tag:hover {
	background: #0C5C96;
}

/*
	category list
*/

.category_list_item {
	height: 32em;
}


#frontend_search {
}

#frontend_search .keywords {
	display: inline-block;
	height: 1em;
	padding: 1em;
	border: 1px solid #f0f0f0;
	border-radius: 2em;
	box-shadow: inset 0 3px 10px #aaa;
	/*width: 85%;*/

	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#frontend_search .keywords:focus, 
#frontend_search .keywords:hover {
	margin: 0.5em 0;
	border: 1px solid #fefefe;
	background: rgba(255, 255, 255, 1);
	color: #555;
	outline: none;
}


#frontend_search .reset_search {
	width: 3em;
	height: 3em;
	padding: 0;
	border-radius: 1.5em;
	border: 1px solid #bbb;
	/*box-shadow: 0 0 0.5em #bbb;*/
}

#frontend_search .reset_search:active,
#frontend_search .reset_search:focus {
	outline: none;
}

#frontend_search .reset_search:active {
	box-shadow: inset 0 1px 0.5em #bbb;
}

.pager {display: inline;}

.pager li {
	display: inline-block;
}
.pager li a {
	padding: 0 0.4em;
	font-size: 2em;
	font-weight: bold;
}
.pager .active, .pager li a:hover {;
	width: 2em;
	height: 2em;
	text-decoration: none;
	border: none;
	background: #ddd;
	border-radius: 1em;
}

.pager li a:hover {
	background: #ccc;
}

#show_list_button {
	border-radius: 0.5em;
	font-size: 2em;
}

#tag_cloud {
	padding-top: 10.5em;
	text-align: justify;
	background: url('/res/img/tag_cloud.png') top center no-repeat;
	background-size: contain;
}

/*
	article detail
*/

.article_date {
	font-family: crete round;
	font-size: 1.5em;
	margin-bottom: 2.5em;
	padding: 0.5em;
	border: 2px dashed #A33;
	display: inline-block;
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	transform: rotate(-10deg);
	color: #A33;
}

#perex {
	text-align: left;
	font-style: italic;
	font-size: 1.5em;
	line-height: 1.5em;
}

#title_image {
	position: relative;
	display: inline-block;
	border: 0.5em solid #fff;
	margin: 3em auto;
	width: auto;
	max-height: 300px;
	overflow: hidden;
	z-index: 1;
}
#title_image img {
	width: 100%;
}

article {
	font-size: 1.2em;
	line-height: 1.5em;
	text-align: justify;
}

.article_tags {
	list-style-type: none;
	line-height: 2.5em;
}
.article_tags li {
	display: inline-block;
}

/*
	head
*/

#head {
	position: relative;
	z-index: 2;
}

#head a {
	color: #0C5C96;
}

#head a:hover {
	text-decoration: none;
	border: none;
	color: #3f8fc9;
}

#head_top {
	position: relative;
	top: 65px;
	width: 500px;
	height: 350px;
	margin: 0 auto;
	background: url('/res/img/head_top.png') center no-repeat;
	background-size: contain;
}
#head_bottom {
	position: relative;
	width: 500px;
	height: 280px;
	margin: 0 auto;
	background: url('/res/img/head_bottom.png') center no-repeat;
	background-size: contain;
	top: 0px;
	/*-webkit-transition: all 0.25s;*/

}

@-webkit-keyframes speak {
	0% {top: 65px; -webkit-transform: rotate(0deg);}
	15% {top: 40px; -webkit-transform: rotate(-10deg);}
	30% {top: 10px; -webkit-transform: rotate(12deg);}
	45% {top: 65px; -webkit-transform: rotate(0deg);}
	60% {top: 50px; -webkit-transform: rotate(8deg);}
	75% {top: 30px; -webkit-transform: rotate(-8deg);}
	90% {top: 0px; -webkit-transform: rotate(0deg);}
	100% {top: 65px; -webkit-transform: rotate(0deg);}
}
@-moz-keyframes speak {
	0% {top: 65px; -moz-transform: rotate(0deg);}
	15% {top: 40px; -moz-transform: rotate(-10deg);}
	30% {top: 10px; -moz-transform: rotate(12deg);}
	45% {top: 65px; -moz-transform: rotate(0deg);}
	60% {top: 50px; -moz-transform: rotate(8deg);}
	75% {top: 30px; -moz-transform: rotate(-8deg);}
	90% {top: 0px; -moz-transform: rotate(0deg);}
	100% {top: 65px; -moz-transform: rotate(0deg);}
}
@-ms-keyframes speak {
	0% {top: 65px; -ms-transform: rotate(0deg);}
	15% {top: 40px; -ms-transform: rotate(-10deg);}
	30% {top: 10px; -ms-transform: rotate(12deg);}
	45% {top: 65px; -ms-transform: rotate(0deg);}
	60% {top: 50px; -ms-transform: rotate(8deg);}
	75% {top: 30px; -ms-transform: rotate(-8deg);}
	90% {top: 0px; -ms-transform: rotate(0deg);}
	100% {top: 65px; -ms-transform: rotate(0deg);}
}
@-o-keyframes speak {
	0% {top: 65px; -o-transform: rotate(0deg);}
	15% {top: 40px; -o-transform: rotate(-10deg);}
	30% {top: 10px; -o-transform: rotate(12deg);}
	45% {top: 65px; -o-transform: rotate(0deg);}
	60% {top: 50px; -o-transform: rotate(8deg);}
	75% {top: 30px; -o-transform: rotate(-8deg);}
	90% {top: 0px; -o-transform: rotate(0deg);}
	100% {top: 65px; -o-transform: rotate(0deg);}
}
@keyframes speak {
	0% {top: 65px; transform: rotate(0deg);}
	15% {top: 40px; transform: rotate(-10deg);}
	30% {top: 10px; transform: rotate(12deg);}
	45% {top: 65px; transform: rotate(0deg);}
	60% {top: 50px; transform: rotate(8deg);}
	75% {top: 30px; transform: rotate(-8deg);}
	90% {top: 0px; transform: rotate(0deg);}
	100% {top: 65px; transform: rotate(0deg);}
}

#head:hover #head_top {
	/*top: 0;*/
	-webkit-animation: speak 1s;
	-moz-animation: speak 1s;
	-ms-animation: speak 1s;
	-o-animation: speak 1s;
	animation: speak 1s;
}

#link1, #link2, #link3, #link4, #link5 {
	position: absolute;
	top: 63%;
	left: 47%;
	font-family: 'Crete Round', serif;
	font-size: 0.5em;
	opacity: 0;
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

#link2 {-webkit-transition: all 0.5s; -moz-transition: all 0.5s; -ms-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s;}
#link3 {-webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s;}
#link4 {-webkit-transition: all 0.8s; -moz-transition: all 0.8s; -ms-transition: all 0.8s; -o-transition: all 0.8s; transition: all 0.8s;}
#link5 {-webkit-transition: all 1s; -moz-transition: all 1s; -ms-transition: all 1s; -o-transition: all 1s; transition: all 1s;}

#head:hover #link1,
#head:hover #link2,
#head:hover #link3,
#head:hover #link4,
#head:hover #link5 {
	top: 0;
	font-size: 2em;
	opacity: 1;
}

#head:hover #link1 {left: 60%;}
#head:hover #link2 {top: 10%; left: 10%;}
#head:hover #link3 {top: 50%; left: 20%;}
#head:hover #link4 {top: 70%; left: 70%;}
#head:hover #link5 {top: 100%; left: 50%;}

#kto-som,
#co-programujem,
#co-pisem,
#co-hram,
#o-com-blogujem {
	height: 0;
	opacity: 0;
	overflow: hidden;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}

#kto-som:target,
#co-programujem:target,
#co-pisem:target,
#co-hram:target,
#o-com-blogujem:target {
	height: auto;
	opacity: 1;
}

#main_logo {
	width: 480px;
	height: 128px;
	margin: 0 auto;
	text-indent: -999em;
	background: url('/res/img/main_logo.png');
}

#logo {
	display: none;
	width: 128px;
	height: 128px;
	margin: 0 auto;
	background: url('/res/img/logo.png');
}

#content {
	position: relative;
	font-size: 1.4em;
	font-family: Calibri;
	line-height: 1.4em;
}

#content p {
	text-indent: 0;
}

#content .content_image {
	position: absolute;
	top: 30%;
	left: -7%;
	width: 10em;
	height: 10em;
	background-size: content;
	border: 0.5em solid #fff;
	box-shadow: 0 0.2em 0.5em #aaa;
}

#kto-som  .content_image {background: url('/res/img/who_am_i.jpg');}
#co-programujem .content_image {background: url('/res/img/what_i_code.jpg');}
#co-pisem .content_image {background: url('/res/img/what_i_write.jpg');}
#co-hram .content_image {background: url('/res/img/what_i_play.jpg');}
#o-com-blogujem .content_image {background: url('/res/img/what_i_blog.jpg');}

#content ul {
	margin-left: 1em;
}

#touch_me {
	display: inline-block;
	position: absolute;
	top: 20%;
	right: 10%;
	max-width: 10em;
	width: auto;
	margin-bottom: 2.5em;
	padding: 0.5em;
	font-family: crete round;
	font-size: 1.5em;
	color: #A33;
	border: 2px dashed #A33;
	background: url('/res/img/back.jpg');
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	transform: rotate(-10deg);
	z-index: 1;
}

.sad {
	display: inline-block;
	margin-left: 0.5em;
	color: #A33;
	font-weight: bold;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

footer {
	margin-bottom: 2em;
}
footer ul {
	font-size: 2em;
	list-style-type: none;
}
footer ul li {
	display: inline-block;
	margin-right: 0.5em;
}
footer div {
	vertical-align: middle;
}

@media screen and (max-width: 1200px) and (min-width: 801px) {
	#content .content_image {
		display: inherit;
		position: relative;
		top: 0;
		left: 0;
		margin: 0 auto;
	}
}

@media screen and (max-width: 800px) and (min-width: 640px) {
	.column1, .column2, .column25, .column3, .column33, .column4, .column5,
	.size1, .size2, .size25, .size3, .size33, .size4, .size5 {
		width: 48%;
	}

	.column6, .column66, .column7, .column75, .column8, .column9, .column10, 
	.size6, .size66, .size7, .size75, .size8, .size9, .size10 {
		width: 98%;
	}

	.offset1, .offset2, .offset3, .offset4, .offset5 {
		margin-left: 0;
	}
	.offset6, .offset7, .offset8, .offset9, .offset10 {
		margin-left: 49%;
	}

	.list_main_title_image {
		width: 98%;
		float: left;
	}
	.list_main_article {
		float: right;
	}
	
	#content .content_image {
		display: inherit;
		position: relative;
		top: 0;
		left: 0;
		margin: 0 auto;
	}

	#tag_cloud {
		padding-top: 15em;
	}
}

@media screen and (max-width: 640px) {
	.column1, .column2, .column25, .column3, .column33, .column4, .column5, .column6, .column66, .column7, .column75, .column8, .column9, .column10,
	.size1, .size2, .size25, .size3, .size33, .size4, .size5, .size6, .size66, .size7, .size75, .size8, .size9, .size10 {
		width: 98%;
	}
	
	.offset1, .offset2, .offset3, .offset4, .offset5, .offset6, .offset7, .offset8, .offset9, .offset10 {
		margin-left: 0;
	}

	#frontend_search .keywords {
		width: 80%;
	}

	#content .content_image {
		display: inherit;
		position: relative;
		top: 0;
		left: 0;
		margin: 0 auto;
	}

	#logo {
		display: block;
	}
	#logo:hover {
		border: none;
		webkit-animation: logo_spin 1.5s;
		-moz-animation: logo_spin 1.5s;
		-ms-animation: logo_spin 1.5s;
		-o-animation: logo_spin 1.5s;
		animation: logo_spin 1.5s;
	}

	#main_logo {
		display: none;
	}

	nav {
		position: absolute;
		top: 0;
		width: 3em;
		height: 3em;
		margin: 0;
		padding: 2em 1em 0 2em;
		text-align: left;
		overflow: hidden;
		z-index: 3;
	}
	nav#menu:target {
		position: fixed;
		height: 100%;
		width: auto;
		background: rgba(255, 255, 255, 0.8);
		box-shadow: 0 0 1em #555;
	}
	nav li {
		display: block;
		float: none;
	}
	nav li a {
		font-size: 2em;
		line-height: 150%;
		font-family: Calibri, sans-serif;
		border-bottom: none;
	}
	nav .fa {
		display: inline-block;
	}
	nav #menu_show, nav #menu_hide {
		display: none;
	}
	nav li a.active {
		font-weight: bold;
	}
	nav li a:focus,
	nav li a:active,
	nav li a:hover {
		border: none;
	}
	nav #brand {
		display: none;
	}
	
	nav #menu_show {
		display: block;
	}
	nav #menu_hide {
		display: none;
	}
	nav:target #menu_show {display: none;}
	nav:target #menu_hide {display: block;}

	#tag_cloud {
		padding-top: 12em;
		background-size: inherit;
	}
}