<ul class="deck-list">
	<? foreach ($decks as $deck): ?>
		<li>
			<a href="javascript:void(0);" onclick="Deck.selectDeck(event, this)"><?= $deck->name ?></a>
			<a href="javascript:void(0);" onclick="Deck.removeDeck(event, <?= $deck->id ?>)">&times;</a>
		</li>
	<? endforeach ?>
</ul>