<div class="column7 offset2" id="main">
	<div class="row topset3">
		<div class="center">
			<h1>This is Carder Editor. You can <a href="?do=logout">logout</a>.</h1>
		</div>

		<ul>
			<? if (count($gameList)): ?>
				<? foreach ($gameList as $game): ?>
					<li><a href="/editor/<?= $game->id ?>"><?= $game->title ?></a></li>
				<? endforeach ?>
			<? else: ?>
				<li>- no game -</li>
			<? endif ?>
			<li><a href="#new-game">Create new game</a></li>
		</ul>
	</div>
</div>

<div id="new-game" class="modal">
	<form class="window size5" method="post" action="">
		<div class="header">
			<h3>Create game</h3>
		</div>
		<div class="body">
			<input type="text" name="title" value="" placeholder="Title of a game" class="size10" />
		</div>
		<div class="footer tar">
			<a href="#" class="button cRed">Cancel</a>
			<input type="submit" name="newGame" value="Create" class="button cGreen" />
		</div>
	</form>
</div>