<div class="table" droppable>	
	<div class="card" draggable>
		<div class="side front">
			<div class="name">Karta</div>
			<div class="image"></div>
			<div class="desc">Lorem ipsum dolor sit amet</div>
		</div>
		<div class="side back"></div>
	</div>
</div>

<nav class="navigation">
	<span>Editing game <?= $game->title ?>. Go <a href="/admin">back</a>.</span>
	<span class="right">
		<a href="#add-card"><i class="fa fa-file-o"></i></a>
		<a href="#manage-decks"><i class="fa fa-list"></i></a>
	</span>
</nav>

<div id="add-card" class="modal">
	<form action="" method="post" class="window size5">
		<div class="header">
			<h4>Add card</h4>
		</div>
		<div class="body">
			<input type="text" placeholder="Title" name="title" class="size10" />
			<textarea name="description" placeholder="Description of card" class="size10"></textarea>
			<select name="decks" class="size10">
				<option value="">- global deck -</option>
				<? foreach ($decks as $deck): ?>
					<option value="<?= $deck->id ?>"><?= $deck->name ?></option>
				<? endforeach ?>
			</select>
		</div>
		<div class="footer tar">
			<a href="#" class="button cRed">Cancel</a>
			<input type="submit" name="addCard" value="Add" class="button cGreen" />
		</div>
	</form>
</div>

<div id="manage-decks" class="modal">
	<form action="" method="post" class="window size5">
		<div class="header">
			<h4>Manage decks</h4>
		</div>
		<div class="body">
			<?= $DECKS ?>
			<hr />
			<input type="hidden" name="game_id" value="<?= $game->id ?>" />
			<input type="text" id="deck-name" name="name" placeholder="enter deck name" />
			<button class="button" onclick="Deck.addDeck(event)">Add deck</button>
		</div>
		<div class="footer tar">
			<a href="#" class="button cRed">Cancel</a>
			<input type="submit" name="saveDecks" value="Save" class="button cGreen" />
		</div>
	</form>
</div>