<div data-ljs-s="table" class="table-main">
	<div class="column12">
		<div class="bar">
			<div class="left">
				<a href="/" title="Carder" class="bar__logo"><img src="/res/images/logo.png" class="logo__img"></a>
				<!-- <a href="#" class="bar__link">CrDr</a> -->
				<input type="hidden" name="game.id" value="0" />
				<input type="hidden" name="game.public" value="0" />
				<input type="text" name="game.title" class="bar__input" placeholder="Game title" />
				<input type="text" name="game.version" class="bar__input size2" placeholder="Version" />
			</div>
			<div class="left main-actions">
				<a href="#deck" class="button bar__link">Edit deck</a>
				<a href="javascript:void(0);" class="button bar__link save-game hidden" data-ljs-l="saveGame">Save Game</a>
				<a href="#export-import" data-ljs-l="exportImport" class="button bar__link">&uarr;/&darr; JSON</a>
				<a href="#about" class="button bar__link">About</a>
			</div>
			<div class="left select-actions hidden">
				<button class="button bar__button select-actions__all-cards" data-ljs-l="selectAllCards" title="All cards"><img src="/res/images/ci-card.png" /></button>
				<button class="button bar__button select-actions__all-tokens" data-ljs-l="selectAllTokens" title="All tokens"><img src="/res/images/ci-token.png" /></button>
				<button class="button bar__button select-actions__all-items" data-ljs-l="selectAllItems" title="All items"><img src="/res/images/ci-all.png" /></button>
			</div>
			<div class="left actions hidden">
				<button class="button bar__button" data-ljs-l="flipAll" title="Flip"><img src="/res/images/ci-flip.png" /></button>
				<button class="button bar__button" data-ljs-l="fanAll" title="Fan"><img src="/res/images/ci-fan.png" /></button>
				<button class="button bar__button" data-ljs-l="lineAll" title="Line"><img src="/res/images/ci-line.png" /></button>
				<button class="button bar__button" data-ljs-l="gridAll" title="Grid"><img src="/res/images/ci-grid.png" /></button>
				<button class="button bar__button" data-ljs-l="pileAll" title="Pile"><img src="/res/images/ci-pile.png" /></button>
				<button class="button bar__button" data-ljs-l="shuffleAll" title="Shuffle"><img src="/res/images/ci-shuffle.png" /></button>
			</div>
			<div class="right">
				<div class="guest-actions">
					<a href="#welcome" class="button bar__link">Welcome</a>
				</div>
				<div class="user-actions hidden">
					<ul class="user-actions__ua-list">
						<li><a href="#account" class="ua-list__item">{{user.email}}</a></li>
						<li><a href="#gamelist" class="ua-list__item">My Games</a></li>
						<li><a href="/logout" class="ua-list__item">Logout</a></li>
					</ul>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="table">{{card in game.cardList}}{{token in game.tokenList}}</div>
	</div>

	<div id="gamelist" class="modal">
		<div class="modal__modal-window size6 height40--min height80--max">
			<div clas="modal-window__header">
				<h2>Game List</h2>
			</div>
			<div class="modal-window__body">
				<ul>
					{{game in games}}
				</ul>
			</div>
			<div class="modal-window__footer tar">
				<a href="#" class="button c--red close">Close</a>
			</div>
		</div>
	</div>

	<div id="deck" class="modal">
		<div class="modal__modal-window size6 height40--min height80--max">
			<div class="modal-window__header">
				<h2>Deck editor</h2>
			</div>
			<div class="modal-window__body">
				<div class="row">
					<div class="column6">
						<ul>{{deckCard in game.cards}}</ul>
					</div>
					<div class="column6">
						<ul>{{deckToken in game.tokens}}</ul>
					</div>
				</div>
				<div class="row item-list-summary">
					<div class="column6">Total cards: {{game.cardAmount}}</div>
					<div class="column6">Total tokens: {{game.tokenAmount}}</div>
				</div>
			</div>
			<div class="modal-window__footer taj">
				<button class="button" data-ljs-l="addCard">Add card</button>
				<button class="button" data-ljs-l="addToken">Add token</button>
				<span class="right">
					<a href="#" class="button c--red" data-ljs-l="initDeck">Close</a>
				</span>
			</div>
		</div>
	</div>

	<div id="export-import" class="modal">
		<div class="modal__modal-window size6">
			<div class="modal-window__header">
				<h2>Import/Export as JSON string</h2>
			</div>
			<div class="modal-window__body">
				<textarea name="source" class="size12"></textarea>
			</div>
			<div class="modal-window__footer tar">
				<a href="#" class="button c--red" data-ljs-l="initSource">Close</a>
			</div>
		</div>
	</div>

	<div id="about" class="modal">
		<div class="modal__modal-window size6">
			<div class="modal-window__header">
				<h2>Carder v. 0.0.2</h2>
			</div>
			<div class="modal-window__body">
				<div class="row">
					<div class="column6">
						<p>Hello in Carder - a card game tabletop simulator!</p>
						<p>Here you can create and test any card-based games that require nothing more than some tokens!</p>
						<p>This simulator was made to make life of a game designers a little bit easier. At least you don't have to cut and print all the cards just to realise that your concept of a card game does not work.</p>
						<p>The simulator is in an early development. There is a lot of work to do, but some crucial and most used operations are already available.</p>
					</div>
					<div class="column6">
						<p>Current list of possibilities:</p>
						<ul>
							<li>Create and edit a card (name, text of a card, amount)</li>
							<li>Create and edit a token (name, top text, bottom text of a token, amount)</li>
							<li>Select all the cards/tokens</li>
							<li>Flip selected items</li>
							<li>Arrange seleted items into a fan, line, grid or pile</li>
							<li>Shuffle selected items (cards and tokens separately)</li>
							<li>Export card and token settings into JSON string</li>
							<li>Import card and token settings from JSON string</li>
						</ul>
						
					</div>
				</div>
			</div>
			<div class="modal-window__footer tar">
				<a href="#" class="button c--red">Close</a>
			</div>
		</div>
	</div>

	<div id="welcome" class="modal">
		<div class="modal__modal-window size4">
			<div class="modal-window__header">
				<img src="/res/images/logo.png" />
			</div>
			<div class="modal-window__body tac">
				<h2>Welcome in Carder!</h2>
				<p>You can either use this tool as guest or you can login and save your testing boards!</p>
				<div class="form">
					<div>
						<label for="in-or-up--in">Sign In</label>
						<input type="radio" id="in-or-up--in" name="signProcess.type" value="signin" />&nbsp;|&nbsp;<input type="radio" id="in-or-up--up" name="signProcess.type" value="signup" />
						<label for="in-or-up--up">Sign Up</label>
					</div>
					<input type="{{signProcess.inputType}}" name="signProcess.data" placeholder="{{signProcess.placeholder}}" class="sign-process-input size4" />
					<button class="button size2" data-ljs-l="signProcessNext">{{signProcess.button}}</button>
				</div>
				<span class="c--red">{{signProcess.error}}</span>
			</div>
			<div class="modal-window__footer tar">
				<a href="#" class="button c--blue close">Continue without login</a>
			</div>
		</div>
	</div>
</div>

<footer class="tac">
	created by <a href="http:jocho.sk" target="_blank">Jocho</a> &copy; 2015
</footer>

<template name="game">
	<li class="game">
		<a href="javascript:void(0);" data-ljs-l="gameItem.select">{{title}}</a>
		<span>{{version}}</span>
		<span class="right">
			<a href="javascript:void(0);" class="button c--red" data-ljs-l="gameItem.delete">Delete</a>
		</span>
		<div class="clear"></div>
	</li>
</template>

<template name="card">
	<div class="card" draggable="true">
		<div class="card__front">
			<div class="card__name">{{name}}</div>
			<div class="card__text">{{text}}</div>
		</div>
		<div class="card__back"></div>
	</div>
</template>

<template name="token">
	<div class="token" draggable="true">
		<div class="token__front">{{topval}}</div>
		<div class="token__back">{{botval}}</div>
	</div>
</template>

<template name="deckCard">
	<li class="deck__deck-item">
		<div class="deck-item__inline">{{amount}}&times; {{name}}</div>
		<div class="deck-item__editor">
			<input type="text" name="name" class="size11" />
			<textarea name="text" placeholder="Text on a card" class="size11"></textarea>
			<input type="number" min="1" step="1" name="amount" class="size2" />
			<label>Card amount</label>
			<span class="right">
				<button class="button c--red" title="Remove card" data-ljs-l="removeCard">&times;</button>
				<!-- <button class="button c--green" title="Save card" data-ljs-l="removeCard">&check;</button> -->
				
			</span>
		</div>
	</li>
</template>

<template name="deckToken">
	<li class="deck__deck-item">
		<div class="deck-item__inline">{{amount}}&times; {{name}}</div>
		<div class="deck-item__editor">
			<input type="text" name="name" placeholder="token name" class="size8" />
			<button class="button c--red" data-ljs-l="removeToken">&times;</button>
			<input type="text" name="topval" class="size11" placeholder="top value" />
			<input type="text" name="botval" class="size11" placeholder="bottom value" />
			<input type="number" min="1" step="1" name="amount" class="size2" />
			<label>Token amount</label>
		</div>
	</li>
</template>