<?php if (count($infoList)): ?>
	<div class="infobar">
		<?php foreach ($infoList as $info): ?>
			<div class="infobar-alert <?= $info->class; ?>"><?= $info->get('message'); ?></div>
		<?php endforeach ?>
	</div>
<?php endif ?>