<nav id="menu">
	<ul>
		<li id="menu-show"><a href="#menu"><i class="fa fa-bars"></i></a></li>
		<li id="menu-hide"><a href="#"><i class="fa fa-bars"></i></a></li>
		<li><a href="/">uvod</a></li>
		<li><a href="/about-game">o hre</a></li>
		<li><a href="/about-developer">o vyvojarovi</a></li>
		<li><a href="/rules">pravidla</a></li>
		<li><a href="#signin">prihlas ma</a></li>
	</ul>
</nav>