<div class="modal" id="signin">
	<form action="" method="post" class="modal__modal-window size2">
		<div class="modal-window__body">
			<div class="row">
				<label for="email">E-mail:</label>
				<input type="email" name="email" class="size6 right" placeholder="email" />
				<div class="clear"></div>
			</div>
			<div class="row">
				<label for="password">Password:</label>
				<input type="password" name="password" class="size6 right" placeholder="password" />
				<div class="clear"></div>
			</div>
		</div>
		<div class="modal-window__footer tal">
			<a href="#" class="cBlue button">Cancel</a>
			<span class="right">
				<a href="#signup" class="button cBlue">Sign up</a>
				<input type="submit" class="button cGreen" name="signin" value="Sign in" />
			</span>
		</div>
	</form>
</div>
<div class="modal" id="signup">
	<form action="" method="post" class="modal__modal-window size2">
		<div class="modal-window__body">
			<div class="row">
				<label for="email">E-mail:</label>
				<input type="email" name="email" class="size6 right" placeholder="email" />
				<div class="clear"></div>
			</div>
			<div class="row">
				<label for="password">Password:</label>
				<input type="password" name="password" class="size6 right" placeholder="password" />
				<div class="clear"></div>
			</div>
			<div class="row">
				<label for="password2">Pwd again:</label>
				<input type="password" name="password2" class="size6 right" placeholder="password2" />
				<div class="clear"></div>
			</div>
		</div>
		<div class="modal-window__footer tal">
			<a href="#" class="cBlue button">Cancel</a>
			<span class="right">
				<a href="#signin" class="button cBlue">Sign in</a>
				<input type="submit" class="button cGreen" name="signup" value="Sign up" />
			</span>
		</div>
	</form>
</div>